{% extends 'backend/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 d-inline-block mb-0">Dashboard</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card bg-gradient-primary border-0">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Clientes</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">{{ClientCount}}</span>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <a href="{% url 'clients' %}" class="text-nowrap text-white font-weight-600">Ver todos</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-gradient-info border-0">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Viagens</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">{{TripCount}}</span>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <a href="{% url 'trips' %}" class="text-nowrap text-white font-weight-600">Ver todas</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-gradient-danger border-0">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Voos</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">{{FlightCount}}</span>
                </div>

              </div>
              <p class="mt-3 mb-0 text-sm">
                <a href="{% url 'flights' %}" class="text-nowrap text-white font-weight-600">Ver todos</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-gradient-default border-0">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Hotéis</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">{{HotelCount}}</span>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <a href="{% url 'hotel' %}" class="text-nowrap text-white font-weight-600">Ver todos</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      
      
      


{% endblock %}