{% extends 'backend/base.html' %}
{% load static %}

{% block title %}Novo Hotel{% endblock %}
{% block content %}


<!-- Header -->
<!-- Header -->
<div class="header pb-3 d-flex align-items-center"
    style="min-height: 200px; background-image: url(../../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col">
                <h1 class="display-2 text-white">Novo Hotel</h1>

            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="row">
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Novo</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                <form method="post">
                        {% csrf_token %}
                 <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Detalhes</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Nome</label>
                                        {{form.hotel_name}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Morada</label>
                                        {{form.address}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Cidade</label>
                                        {{form.city}}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Contacto</label>
                                        {{form.mobile}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Criar Hotel</button>
                    </form>
                </div>
                {{ form.errors }}
            </div>
        </div>
    </div>



    {% endblock %}