{% extends 'base.html' %}
{% load static %}

{% block title %}Alterar Palavra-Passe{% endblock %}
{% block content %}


<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">Alterar Palavra-Passe</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                <div class="card-body">
              <h3 class="card-title mb-3">Alterar Palavra-Passe</h3>
              <p class="card-text mb-4">A sua palavra-passe foi alterada com sucesso.</p>
              <a href="{% url 'login' %}" class="btn btn-primary my-4">Regressar ao Login</a>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}