{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Recuperar Palavra-Passe{% endblock %}
{% block content %}


<!-- Main content -->
<div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">Recuperar Palavra-Passe</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary border-0 mb-0">
                    <div class="card-body px-lg-5 py-lg-5 mb--5">
                        {% if validlink %}
                        <form role="form" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-2">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    {{ form.new_password1|add_class:"form-control"|attr:"placeholder:Nova Palavra-Passe" }}
                                </div>
                                </div>
                                <div class="form-group mb-2">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Repetir Nova Palavra-Passe" }}
                                </div>
                            </div>
                            <div class="text-center">
                            {{ form.errors }}
                                <input type="submit" class="btn btn-primary my-4" value="Alterar">
                            </div>
                        </form>
                        {% else %}
                                        <div class="card-body">
                                            <h3 class="card-title mb-3">Link Inválido</h3>
                                            <p class="card-text mb-4">Este link já não é válido. Provavelmente já foi
                                                utilizado ou já expirou.</p>
                                            <a href="{% url 'login' %}" class="btn btn-primary my-4">Regressar ao
                                                Login</a>
                            </div>
                        </div>
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}