{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Alterar Palavra-Passe{% endblock %}
{% block content %}
<body class="reset-page">

  <div class="wrapper">
    <div class="page-header bg-default">
      <div class="page-header-image" style="background-image: url({% static 'frontend/assets/img/ill/reset.svg' %})"></div>
      <div class="container">
        <div class="col-lg-5 col-md-8 mx-auto">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header">
              <img class="card-img" src="{% static 'frontend/assets/img/ill/auth.svg' %}" alt="Card image">
              <h4 class="card-title text-center">Alterar Palavra-Passe</h4>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Utilize o formulário abaixo para alterar a sua palavra-passe.</small>
              </div>
              <form role="form" method="post">
                            {% csrf_token %}
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                   {{ form.old_password|add_class:"form-control"|attr:"placeholder:Palavra-Passe Actual" }}
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                   {{ form.new_password1|add_class:"form-control"|attr:"placeholder:Nova Palavra-Passe" }}
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                   {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Repetir Nova Palavra-Passe" }}
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Enviar</button>
                </div>
                {{ form.errors }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}