{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Recuperar Palavra-Passe{% endblock %}
{% block content%}

<body class="reset-page">

    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header bg-default">
            <div class="page-header-image"
                style="background-image: url({% static 'frontend/assets/img/ill/reset.svg' %})"></div>
            <div class="container">
                <div class="col-lg-5 col-md-8 mx-auto">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header">
                            <img class="card-img" src="{% static 'frontend/assets/img/ill/bg5-1.svg' %}"
                                alt="Card image">
                            <h4 class="card-title text-center">Recuperar Palavra-Passe</h4>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <p class="card-text mb-4">Enviámos-lhe instruções por e-mail para definir a sua
                                    palavra-passe, caso exista uma conta com o e-mail que introduziu.</p>
                                <p class="card-text mb-4">Se não receber um e-mail, certifique-se de ter digitado o
                                    endereço com o qual se registrou, e verifique sua pasta de spam.</p>
                                <a href="{% url 'login' %}" class="btn btn-primary">Regressar ao Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endblock %}