{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Recuperar Palavra-Passe{% endblock %}
{% block content %}

<body class="reset-page">

    <div class="wrapper">
        <div class="page-header bg-default">
            <div class="page-header-image"
                style="background-image: url({% static 'frontend/assets/img/ill/reset.svg' %})"></div>
            <div class="container">
                <div class="col-lg-5 col-md-8 mx-auto">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header">
                            <img class="card-img" src="{% static 'frontend/assets/img/ill/bg5-1.svg' %}"
                                alt="Card image">
                            <h4 class="card-title text-center">Recuperar Palavra-Passe</h4>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            {% if validlink %}
                                <div class="text-center text-muted mb-4">
                                    <small>Insira a sua nova password.</small>
                                </div>
                            <form role="form" method="post">
                                {% csrf_token %}
                                <div class="form-group mb-2">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form.new_password1|add_class:"form-control"|attr:"placeholder:Nova Palavra-Passe" }}
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Repetir Nova Palavra-Passe" }}
                                    </div>
                                </div>
                                <div class="text-center">
                                    {{ form.errors }}
                                    <input type="submit" class="btn btn-primary my-4" value="Alterar">
                                </div>
                            </form>
                            {% else %}
                            <div class="text-center text-muted mb-4">
                                <h4>Link inválido</h4>
                                <p>Este link já não é válido. Provavelmente já foi utilizado ou já expirou.</p>
                                <a href="{% url 'login' %}" class="btn btn-primary my-4">Regressar ao
                                    Login</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}